<%- include("./header.ejs") -%>

    <div class="container">
        <h1>
            About Project
        </h1>
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, ducimus doloribus? Iure eveniet dolore mollitia aliquam error, dignissimos velit a impedit tempore soluta molestiae, natus dicta. Voluptatibus nisi aspernatur repellat recusandae
            exercitationem tempora iusto iure et similique dolore, in inventore obcaecati delectus suscipit neque perspiciatis nemo vero nesciunt asperiores dolor officiis porro. Dolor dignissimos maiores deleniti dolorum eius obcaecati sit eaque voluptas
            commodi. Aliquid exercitationem labore neque, doloremque odio beatae cumque nisi amet aliquam in quidem, vel similique . Nostrum, earum est? Velit ad magnam accusantium illum, voluptates blanditiis doloremque commodi facilis.</p>
        <p>Vero magni repellendus quas quaerat, ex assumenda dolores deleniti dolore odit recusandae atque quasi sunt voluptatibus et magnis dis parturient montes etllitia, optio in a corrupti quidem ipsam qui possimus incidunt autem? Excepturi quaerat voluptatibus
            beatae, fugiat facilis, error molestias perspiciatis non corporis sequi rem necessitatibus harum commodi impedit. Provident, incidunt ipsa eum deleniti ipsum officia animi nemo dolores nostrum pariatur? Excepturi sit nostrum optio id libero
            soluta exercitationem pariatur minus perspiciatis placeat sequi, quae dolorem ut delectus ad ratione! Harum provident, enim, exercitationem sint sciunt magni repudiandae optio autem eveniet explicabo labore a aperiam quibusdam quisquam facere
            fugit cum, ullam repellat minus doloribus! Itaque, vitae quis. Veritatis consequatur repudiandae at cumque corrupti ea excepturi architecto. Inventore, error?</p>
        <hr>
    </div>

    <%-include("./footer.ejs") -%>